<div id="about_container">

	<span class="body_text">Aleksandra recieved her B.A. from Vassar College in <span class="numbers">2012</span>.
	<br><br>
	She currently resides in Brooklyn, New York.</span>

</div>

