/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




 */


body{
	font-family: "SackersGothicStd-Medium" "Helvetica", "Arial", sans-serif;
	text-transform: lowercase;
	color: #000;
	font-size: 14px;
}

 .container{
 	width: 960px;
 	margin: 0 auto;
 	padding: 0;
 	background-color: #fff;
 	position: relative;
 }

 #header{
 	height: 100px;
 	padding: 0;
 	margin: 40px 0;
 	text-align: center;
 }

 h1{
 	height: 40px;
 	padding: 0;
 	margin: 0 auto 35px;
 	letter-spacing: .1em;
 	font-size: 40px;
 	text-transform: uppercase;
 }

 h1 a:link{
 	text-decoration: none;
 	color: #000;
 }

  h1 a:visited{
 	color: #000;
 }

  h1 a:hover{
 	color: #000;
 	cursor: pointer;
 }

 #nav{
 	width: 960px;
 	height: 30px;
 	margin: 0 auto;
 	padding: 0;
 	line-height: 24px;
 }

 ul.menu{
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 ul.menu li.menu_item{
 	display: inline;
 	padding: 16px;
 }

 a:link{
 	text-decoration: none;
 	color: #000;
 }

 a:visited{
 	color: #000;
 }

 a:hover{
 	color: #ccc;
 	cursor: pointer;
 }

#content{
	margin: 60px 0 0 0;
	padding: 0;
}

.flash{
	position: absolute;
	top: 130px;
	z-index: 100;
	color: #ccc;
}

#footer{
	margin: 40px auto;
	padding: 10px 0 40px;
	width: 960px;
}

.left{
	padding-left: 40px;
	float: left;
	width: 440px;
}

.right{
	padding-right: 40px;
	float: right;
	width: 440px;
	text-align: right;
}

.numbers{
	font-size: .9em;
}
/**
 * @license
 * MyFonts Webfont Build ID 2804229, 2014-04-30T20:53:25-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Sackers Gothic Std Medium by Monotype 
 * URL: http://www.myfonts.com/fonts/mti/sackers-gothic/std-medium/
 * Copyright: Copyright 1994, 2003 Monotype Imaging, Inc. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2804229
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */

@import url("//hello.myfonts.net/count/2aca05");

  
@font-face {font-family: 'SackersGothicStd-Medium';src: url('webfonts/2ACA05_0_0.eot');src: url('webfonts/2ACA05_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2ACA05_0_0.woff') format('woff'),url('webfonts/2ACA05_0_0.ttf') format('truetype');}
 
/* line 1, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/contact.css.scss */
div#contact_container {
  margin: 75px 0 70px 0;
  padding: 0;
  line-height: 160%;
}

/* line 7, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/contact.css.scss */
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  color: #000;
  width: 250px;
}

/* line 14, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/contact.css.scss */
textarea {
  font-family: inherit;
  font-size: inherit;
  color: #000;
  width: 250px;
  height: 150px;
}

/* line 22, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/contact.css.scss */
.submit {
  font-size: .9em;
  font-family: inherit;
  text-transform: lowercase;
  background-color: #ffffff;
  border: 1px solid #ccc;
  letter-spacing: .2em;
  margin: 10px 0;
}

/* line 32, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/contact.css.scss */
input.submit:hover {
  cursor: pointer;
  color: #ccc;
  background-color: #f9f4f4;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
/* line 1, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div#clothing_container {
  width: 540px;
  height: 450px;
  margin: 0 auto;
  padding: 0;
}

/* line 8, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div#performances_container {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
}

/* line 15, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div#sculpture_container {
  width: 360px;
  height: 270px;
  margin: 0 auto;
  padding: 0;
}

/* line 22, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div#installations_container {
  width: 540px;
  height: 540px;
  margin: 0 auto;
  padding: 0;
}

/* line 29, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div#advertisements_container {
  width: 540px;
  height: 540px;
  margin: 0 auto;
  padding: 0;
}

/* line 36, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div.gallery_thumbnail {
  width: 90px;
  height: 90px;
  overflow: hidden;
  float: left;
  opacity: 0.6;
  transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
}

/* line 48, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div.performances_thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;
  float: left;
  opacity: 0.6;
  transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
}

/* line 60, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
.load {
  z-index: 20;
  background: url("snake.gif") no-repeat center;
}

/* line 65, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div.gallery_thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 70, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
div.performances_thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 75, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
img.thumbnail {
  height: 90px;
}

/* line 79, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/gallery.css.scss */
img.big_thumbnail {
  height: 300px;
}
/* line 5, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/home.css.scss */
#slideshow_container {
  position: relative;
  z-index: 5;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  width: 100%;
  height: 480px;
  overflow: scroll;
}

/* line 15, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/home.css.scss */
img.homeimg {
  width: 720px;
  padding: 0;
  margin: 0 120px;
}

/* line 21, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/home.css.scss */
ul#slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 27, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/home.css.scss */
ul#slides li {
  margin: 0;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #fff;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {

}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Sackers Gothic Std","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAACYCAYAAACf3wtiAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89%2BbN%2FrXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz%2FSMBAPh%2BPDwrIsAHvgABeNMLCADATZvAMByH%2Fw%2FqQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf%2BbTAICd%2BJl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA%2Fg88wAAKCRFRHgg%2FP9eM4Ors7ONo62Dl8t6r8G%2FyJiYuP%2B5c%2BrcEAAAOF0ftH%2BLC%2BzGoA7BoBt%2FqIl7gRoXgugdfeLZrIPQLUAoOnaV%2FNw%2BH48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl%2FAV%2F1s%2BX48%2FPf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H%2FLcL%2F%2Fwd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s%2BwM%2B3zUAsGo%2BAXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93%2F%2B8%2F%2FUegJQCAZkmScQAAXkQkLlTKsz%2FHCAAARKCBKrBBG%2FTBGCzABhzBBdzBC%2FxgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD%2FphCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8%2BQ8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8%2BxdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR%2BcQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI%2BksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG%2BQh8lsKnWJAcaT4U%2BIoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr%2Bh0uhHdlR5Ol9BX0svpR%2BiX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK%2BYTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI%2BpXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q%2FpH5Z%2FYkGWcNMw09DpFGgsV%2FjvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY%2FR27iz2qqaE5QzNKM1ezUvOUZj8H45hx%2BJx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4%2FOBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up%2B6Ynr5egJ5Mb6feeb3n%2Bhx9L%2F1U%2FW36p%2FVHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm%2Beb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw%2B6TvZN9un2N%2FT0HDYfZDqsdWh1%2Bc7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc%2BLpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26%2FuNu5p7ofcn8w0nymeWTNz0MPIQ%2BBR5dE%2FC5%2BVMGvfrH5PQ0%2BBZ7XnIy9jL5FXrdewt6V3qvdh7xc%2B9j5yn%2BM%2B4zw33jLeWV%2FMN8C3yLfLT8Nvnl%2BF30N%2FI%2F9k%2F3r%2F0QCngCUBZwOJgUGBWwL7%2BHp8Ib%2BOPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo%2Bqi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt%2F87fOH4p3iC%2BN7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi%2FRNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z%2Bpn5mZ2y6xlhbL%2BxW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a%2FzYnKOZarnivN7cyzytuQN5zvn%2F%2FtEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1%2B1dT1gvWd%2B1YfqGnRs%2BFYmKrhTbF5cVf9go3HjlG4dvyr%2BZ3JS0qavEuWTPZtJm6ebeLZ5bDpaql%2BaXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO%2FPLi8ZafJzs07P1SkVPRU%2BlQ27tLdtWHX%2BG7R7ht7vPY07NXbW7z3%2FT7JvttVAVVN1WbVZftJ%2B7P3P66Jqun4lvttXa1ObXHtxwPSA%2F0HIw6217nU1R3SPVRSj9Yr60cOxx%2B%2B%2Fp3vdy0NNg1VjZzG4iNwRHnk6fcJ3%2FceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w%2B0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb%2B%2B6EHTh0kX%2Fi%2Bc7vDvOXPK4dPKy2%2BUTV7hXmq86X23qdOo8%2FpPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb%2F1tWeOT3dvfN6b%2FfF9%2FXfFt1%2Bcif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v%2B3Njv3H9qwHeg89HcR%2FcGhYPP%2FpH1jw9DBY%2BZj8uGDYbrnjg%2BOTniP3L96fynQ89kzyaeF%2F6i%2FsuuFxYvfvjV69fO0ZjRoZfyl5O%2FbXyl%2FerA6xmv28bCxh6%2ByXgzMV70VvvtwXfcdx3vo98PT%2BR8IH8o%2F2j5sfVT0Kf7kxmTk%2F8EA5jz%2FGMzLdsAAAAgY0hSTQAAeiUAAICDAAD5%2FwAAgOkAAHUwAADqYAAAOpgAABdvkl%2FFRgAACgZJREFUeNrs2m9Mk9ceB%2FDv00JBpP6FLWzXIiiuUEu0hYy2UkmtI21nSInQGOufaDT4YsliTJZl42I2svliEWUjQKZgRqMRkxlWq9MGFYSwxN1kb%2FZCTTQBpGpcaHlsC7XtuS92Hm9p5MrAUk3Ok%2FQVCXz49fSc8%2Ft9yxFC8DY9IrxlDwMzMAMzMAMzMAMzMAMzMAMzMAMzMAMzMAMzMAMzMAMz8FvxpMz0A47j5vo7ubgXARClPyMAMJ%2BYIiVB71pqfX19ilQqFd%2B%2Ffz%2FS1tYWAhCh8PmFKoSQl77mWNkUpVK51Gw2vw9gNX3l1tTUvAtgMS0QN9PfnM3rdYE5ACk6nW65XC7PB1B%2B8eLFxjt37nSdPn36MIDiysrKdwGkARAlG8wBSNXpdMv1ev06AEaXy3VhamqKEELIxMTEpNPp%2FALAqvr6%2BkwA4vmA57tLcABSNBqNNBQKZff396%2F%2B5ZdfDhmNxu0SiQQAJqVSaZpSqdwIgMvOzhYlc1vjAIjlcnmmVCrNun37dv7Vq1c%2FMZlM1RKJBISQCIB0r9cb7Ovr%2Bw8APHjwIDLvj%2FQclwQHIKWoqGhZVVVVAYCtTqfz53A4TAghJBKJhAkhZNw7Hjz2zbFvAah27NiRA0CSrDUsVigUy0wm01oAhu7u7nPBYJAQQkg0Gg0TQojP5ws1NjZ%2BB6DMbrfnAsik7%2BiC7hIcgBSFQrGssrKyQMAGAoFplQ0Gg%2BGTJ082A9DU1dXlUaz4Ve%2Fq6wZzAFKKi4uXVldXrwVg6Orq%2Bsnv90djsTzPh06cONEMYNOuXbvyY7DcQoPFSqVyqcViWQOgwuFwdPE8H41dBhMTE6GmpqZmANqdO3euASCNxy4UWKxUKpdarda1ADafOXOmk%2Bf5SCzW7%2FeHW1paWgBoDx48mB%2BDnfUH%2FXWAXxy3NputAMDmzs7OjnhsIBAIt7a2tgLQ7d69Oz9%2BzS4kWJSbm7tYq9WuAqDp6Oj4kef55xQbESrb3t7eDmDT%2Fv371wBYItwZkgFO2bZt23IAyrNnzx73%2BXxTsdjx8fFQW1vbOQAf7dmzpwDA0ldhEwnmjh49mgYgs6Ghwe71eoOxy4AQQhwOxx8A6ux2ux6AcDBwcz2s5l1hq9WaolAolgH48Pr16%2BcjkQiJrfDY2Bh%2F4MCBFgCGmpqafHqFFCcNDECk0WgyAcgAbOnp6XEK1RXQT548mdi1a9dXANR79uyRAch41R0l4buERqNZYTKZ5ABMLpfrkoAWDotHjx557Xb7UQClNTU1Ajopu8QLdFlZ2Qp63zVdvnz5cjza4%2FF4bTbbvwGU0EovTsY%2BPO2SXlpautJoNH4AwHLlypVrAjpMr2kej2fcarV%2BCUAVU2lRMsDT0FqtthBAldvtvhazpsP0g%2Fj0448%2F%2FhxASW1trQzAonj0Qt%2FWUktLS1fqdDo5AIvb7e6NRz98%2BHDcZrPVx6AzknFbm4ZWqVRZdHlU9fb23hDMwpp%2B%2BPDhX3q9%2FjMA6p07d%2F4rZnkkpWvmAEhUKlXWxo0bCwFU9%2FX1Df6v0H9Xenh4%2BHFxcfGnABS01U9NZpvPAUg1GAxZGzZsUACoHRwc%2FC2%2B0qOjo54jR47UAZDt3bs3I9ltPgdAUlFRkS2VSgsBbO%2Fv7x8Q0ISQKUIIuXfv3nkAsubm5iXJbvMJgOc3b970qdXqp3l5eX%2Fq9frjQ0NDg8I%2FAwDDw8OjAMjIyAhJVtf8snGBxGKxvANADmCb0%2BnsGhoaGuju7j4OoKyoqChHoVCkvwmTn2lrWqPRrEhPT5cBKKD4fAA577333ot2aT5gbibcHMetHADxli1bJLm5uZJgMChatGhR1OPxTF25cuU5nWCS%2BYxbOfaVcgZm4DcklJlhx%2BBi%2FlEhcIl9zekcSFQow1GouK6uTpKfny%2FmeT7y9ddfhwEIW1bin1mdLrRNArCY3rpyhdDFZDK9r1QqZzWPeB3t0mzBIgBpNFgpPnXq1OE7d%2B50Xbx4sRFA%2Bbp169bodLrlc0EnCiymgcoqp9P5Bc%2Fzk4QQMjk5SVwu1wUAxvKt5esoOvWfoBN2W6OBCrd%2B%2FXpVZmZmGiFkMi0tDVu3bt3e09Nz6Jb71upQKJSt0Wikc10er3Vbu3%2F%2FfgQA%2Bvv7f%2Fd6vQGO49Kj0WgkNTUVZrO5%2BurVq5%2Fcvn07XyqVZsnl8syXzYUX8kMnAiChwYrq2DfHvhVmbUJnEQ6HyaVLl34GsLWqqqqgqKhoWSIGg%2F9klxAByKQBS1ljY%2BN3Pp8vNG1O7PeT8%2BfPnwNgMJvNaylanAzwi0k8gEwatGhOnjzZHAwGI7GVDgQC5MKFC%2BcAGCorKwvoMHHGSicazAloGrhsOnHiRDPP86G4%2BCDa1dX1EwCD1WpdW1xcPOM%2BnWhwLFpKgxdtU1NT88TERCi20n6%2FP%2BJwOLoAVFgsljUULU4GOHZ5SGkAo%2F3hhx9a%2FH5%2FOLbSz549i5w5c6YTwObq6uq19EQUJwv8Yk3TIEbX2traGggEpqF5no90dnZ2ANhss9kK4o%2FxhQYLd4wl%2B%2FbtWwNgU3t7e3tMpSMU%2Fbyjo%2BNHABqtVrtKJpMtFs6AhQbHopfSYOajtra2c%2BPj49PSJp%2FPN%2BVwOJoAKGnQk5IsMGKGJjk0oKlzOBx%2FxA%2B9vV5vsKGhwQ4gkwY%2BXLLAYnr1zAdgOHDgQMvY2BgveCma3Lhx4zyADxUKxTKr1Zq0CosAZOzdu1cGQL179%2B6vnjx5MkGREaHKPT09TgBbAMho0CNK1i6RQeOBUrvdfvTx48fe2GVACCEul%2BsSAJPZbJaXlZWtSNYuIQawmAYwJbW1tQ2PHj3yxoePLpfrMgCTXq9fF49dSLAIQAaNA1RWq%2FVLj8czHl%2FZX3%2F99RoAi9Fo%2FECj0ax42eV%2BIcAiAIsotsRisXw%2BNjb2NB7rdruvAajSarWFpaWlK2fqRBbitiZUtsRms9WPjY2Nxy8Dt9vdC8Ci0%2BnkJSUlK%2F9f25To%2B3AGDVjUer3%2Bs9HR0b9isFFCCOnt7b0BoMpoNH6gVquzXtXjJRKcSlt8hVKp%2FHR4ePhxPLavr28QQLVKpSpUqVRZs0n3E9bm00BFdvjw4UMjIyOeeOzAwMBvAGo3bNigMBgMWbPtnhPW5n%2F%2F%2FfdLAMju3r3bTSOXKQF769atAQDbpVJpYUVFRfZsvzeR0DZ%2FeHiYACCjo6MjhBCA%2Bxs1NDQ0WF5efjwvL%2B9PtVr99ObNmz46ukrMpHy2S0KhUKQXFhbmACjr7u4%2BPjQ0NOB0OrsAbAMgN5vN7whfVXwTJj8cADENVnJo0CIHUJCeni6jJ1gqFmC2NquMg45bOQBik8mUmpOTkxYMBkUZGRnRBw8ehK5fvy58ZZzMBcxCGQZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZm4Jmf%2Fw4A%2FkRht3aT0IUAAAAASUVORK5CYII%3D);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(data:image/gif;base64,R0lGODlhIAAgAPUuAOjo6Nzc3M3Nzb%2B%2Fv7e3t7GxsbW1tbu7u8XFxdHR0djY2MHBwa2trbm5ucnJyaSkpKWlpaGhoeLi4urq6u7u7ubm5vLy8vb29vT09Pr6%2Bv39%2FaysrK%2Bvr7Ozs8fHx9vb297e3qmpqb29vdPT06amptXV1aCgoMvLy8%2FPz9fX18PDw%2Fj4%2BOzs7ODg4PDw8KioqOTk5JqampmZmZycnP%2F%2F%2FwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH%2FC05FVFNDQVBFMi4wAwEAAAAh%2BQQJBwAuACwAAAAAIAAgAEAG%2F0CXcEgECQ6bUGRDbDpdimTo9QoJnlhsYVvojLLgrEAkGiwWiFTYldGsRyHSYz6P2COG9XCw2TAYeXprCQYEhQcKgoouAQ4IHg4CAiMpCiASFRMUFhgXFxkZawEDcnd2Jh2LLiAdLyQvELEFX6pCAQx9fQ21T1wFHCi8TwcGxQYnwk8eBAcHZQnJTh8D1I8OJwmWMBMsFJudoG4u4mAgIwIoCSMKlpjcmxeLCgcPJianEcIKBXR1prVRSMiBUIfDAA8JoC1SMYWKKw%2FRXCzoE6IixIgC%2BuDaQCsiAQ4gOSCIOMRXhxIkhRjoYEwhSQTGCAxIyYiAzWYjU35o5oxaIj095J6AWFDmDAIHCVpgubCizRoFKtBAQjeixIdLADRZYBpOQ1An5qYmLKEgQAsYWb95UiUhgIJK7bZRCBMEACH5BAkHADMALAAAAAAZACAAAAb%2FwJlwSAQJRJxNJMLgHBzE6FBxeD0ey2zEBJESA4sXBHItZ2MJr1DReZFIZfNS9lGXOC83aRzPktQKHCEheW4QBQseCQkeAwZeIAYbG4OEBiNqXgiTnBsemV6BkwwbDCigXioMq6RQqFEBHLKyB69SKAW5BRwltlELugW1vkQHBh3In8RDBs3NactCBM4GvdEzBNMGBNbRB9MEB9DRAwQNBwcC1zMe5wciCOsj7wcDAwrXAe8i9ifrDvwGLEDQjdgHewtUIPBQJxqKBQM9OBDQkBgIBws9CBCQQAEMNRk0SAngoeTGBCMUgKgwgYIFDBcyhPTywSTHEiolsHR5YcVMMkgoOCbACUJny5cxf0ppkWIRzgAtYABg4QKmz5AivUhQ8LTozqo9M9iS0KKFURY8iQQBACH5BAkHAAAALAAAAAAZACAAAAb%2FQIBwSAShRBzGA8LhHAQgolSoEIVIENJjG%2BmaHgfFFBBQbUKvF3bL7kZMpoFUYTij0xAI%2B%2BE2yVJEJQUbhCF3JGsRfF0xB0QKg4SFIR0qDgkJHgMhjEUESZIbBiNjAAkvAkQeHAUFTRwOpaUKHa22CbKlCLatsblTAQYdwgVyv1MJBsrKJcdTCMsGxs5EAwQEBgQn1FIH1wQHpNxDBw0H52LjQucHIiKA6gAi7SID4uoL9QMLuPEOA%2FsW%2BFI3IiACDwHigVCB4OCleKYOejgh4INChwIEJJAQLxPFBCNKcBwHIiOKBCUUfJAwgaRGlApASKgwwQWGCxkyaNAgC8SIMxEpYs6cQMHChRU6f0lQEFQmzaJHk%2F6CAeKDU6JGkfJ0VkHCUAo2cerc6mwC0bBayQIIAgAh%2BQQJBwAuACwAAAAAHAAgAAAG%2F0CXcEgEJQaFAomUHAhAxGhUMWCErq%2FX8sF9HRRSYgDB2ZixWgiXG4kMAuFPg2Gmb0JZEkTNbnPARCUGHAUcDHZYS3wPbW0QCUMfBklJhhsGCA4JCQ4LDH0RMzIcQiAHBR2UBQclYS4JBY0mA0MOBrepBieuRAgmMhuRBLfEkLxEJwdEHgbDtwLHxwEE1NQq0ccjDdQHX9i8Dt3d19%2BuCyIiB07lrgPu7q3sUu8LCx%2Fy8%2FULCPf4vQgAPQDyJ8RBQAfxCL5C4MGBAGMKFTA88VCCQhcgHDhEMWIgwRECUCQYkcKiQhAiSSoAAeCiggQlFHwAIWGCQgkpUqxsAQMABToMBCXIpFlhAgULF1Zk0KCBnQQQRI0iVdpUXgUJEooeTbrU34QKWqd2JUiBxVaqTC9iwHAhg9u0roIAACH5BAkHADMALAAAAAAfACAAAAb%2FwJlwSAQlFoZOKNQpDFAgonQq%2FCwKjI12E3p5IaGDgjoNeAoFDoeR5XpfJAiENAiQq6ImOt1efiEPgRxjVCkHBkl7axsMfnGADxERLyNTH4eIBgVNBAgnIyMOCxwvgYGSL4RCIAMGBJkGIiVkIx2QkhEcdkICBK%2B%2FAndDCBC4kgNVBwcNzAeVwkMCkZIxMR8zJyIiygco0FIIESYyBava2gMe31MbL0QjA%2FHxqutVUgILAwsL6vXCHgtULEDwzB8ZDwgSeqBnEJwHDw4cRGlIBQFEAQImUpQSESOUjVNQYEyQYBfIISVQJBhR4trJIR9IlkjxocJLIRJY0gQh4WaVTxQKArSQMMGnBAUfeFaY4MJnCxAtYCylgOFmhaFLWbjAcCHDSwASplq4sCKDBg0nJwCYQGFsWbQvKcjlmsGszxkW3Nq9y%2FUt3Lsz6u6tFwQAIfkECQcAAAAsAAAAACAAHwAABv9AgHBIBCUQBsOGkVwkQMSodPhBdApYzma7CYU2IsV0CnIQklcsg7H1vl6hQWBMHRjOhnSBw%2B6G3iQQBWJjCgcEiEkGWXxtfy8QEA8hI1MfAwcNiUkHHgIjIycIBX%2BBkpOEQyAqByIHmQQLJWMjBpEPuBEFUEMCra%2BvKHRDHiS4DxERA3UDzQMis8O9xrkRhALOzQnSUQjIyREHACAIKggLCyfcUh3gyR8pCPLyH%2BtRI%2BAmJh4oCB4eDgTYk8IhQgwZMQYIcODghIMUA6McIDGgHoCGAjLOiUgnowAUCVpwpAMyASgJI8ckSFCihAKUKaW0TKHgA8yYROApCADiJk5QIS0%2B8JQAg8LPIRU%2B9IRRYcLRIRKINqVg4SmACRKmurBwweqECSyoXriQ4SmFCVQxkM2gQcNRCmJXsHX71ILaDGytChmLl65eAH3%2FEvGbMggAIfkECQcAMQAsAAAAACAAHAAABv%2FAmHBIjI0QB0KhQCCoEqCidPpBNAzYzrLA2Ww4A8V0ChIkm1jDtuv1qgLj4Ud1ODQIafWSw2iHQh1iYwoLdXV3aXt8Xn8vLxsjUwELAwMihgcDDgIlIwIIBoyOJCQhgkMgDpSVlginRSMGIS%2BkpAVRQwkICJSUCXFDHrMQD8UDqLvJrsBEKCQQxA8vggke1tYlzEUe0cUHMS0O4icOv9pFBsUPEQ8fCgLw8LjnQyPs6xEeJQkoCQmR9IpwiEAwAoF9IxLCCUhkQMEIDEpITKFAAkMiJx5CSEHxw4cKF3MVNBHBI4iTAEIKSTAywskWEmBMUDlFQswKFVjQlIKzwoQ6CRR2FpkAACgFFxiEDqEA1IUFDBeULqVg4cKFFRmkxsDwFGuGDBq0Wv2qoWxYqWTPao1Bdi2RsmuDAAAh%2BQQJBwAqACwAAAAAIAAaAAAG%2F0CVcEhUlRwDkcEgOiASoKJ0GnA0G4Ts0lDoLhTTKUiQbB4IW0OnW2BwEIHwEORYDJKHPHq57jI2GwZgYR8eCAh2d2Z7bBx%2FgAUlYh6Ghwt2CAIJKSUoDgQFjo8hHINDLZ6UlQ6mRSUNgBshIS8dUUMpAicCAg4eknJCDn%2B0JC8LQxIJCby8ccFDCbIvJMaDCsvZH9BFHi%2FU1CIqMCXlJSOt3EIGJBAPECQfLQr09DDqRSMQ7g8PDiABAgC8hY9Ih37vDoBYKKFFhYJFFiB8UECCxQoVJkAkciJCvwgkYGAEMIHCxmgeH0SIQHICCwoWTgpJsLJmSQouLGCQqaJjTT0IFGBiuHCB54CaEThYsED0QgaeDWbIiGGiwVCnGTJo4KkCxIIXCFRg1UCWa5GsZc2e1ap2Ctu2UrbCFRIEACH5BAkHADAALAAAAAAgABkAAAb%2FQJhwSISVTovBgTAYeEagonQaEKgGooN2STB4VZ%2FpFJRAqK5NbaPr7RQ6noB4CBIg7oik8rD2GtwFHAQKc3UODh53KklZDQ1%2BBZGBBSVTLQkCAoceiR4JIyklCQ4HBpIcDBsFhEWimAInDgJhUyUHgRwbugZRdCMjCcEorHMwJwWpuhsqQxUKKaGivcVCCbkbISEbrBIf3goK09RCHtjZIQMwEy0g7QHi40INIS%2F1Lx8AEvr6APFFI%2FZIkDgxAUCFgxX8SSnwAoLAAxMiRmShsMgCEg8cFqDAkaOLikQEPBj5IISFkxgsYAA5JAHJjBdiymRZ7SWEFRkyrFhxgaaxQwgjI7zISTSDzwERkkbgoKFpU6M0NyiNQEDDEA1QQSYwkdSECQdEmtJ8EYErV1o%2BhziYIcPrgbRTEMiYQQxuEQRCggAAIfkECQcAMQAsAAAAACAAHAAABv%2FAmHBIjClQHsRApFqcRsWoNAZKJBHNweDAJTQQn2lUkhI4PNeFlnsgGAgER0AslIxQArMDgdWKDg0NbwYdB2FTEiUJiwInZ3xqf4EGlB0dBiVSMAopIyMJeCcCIyUKCiMCIoKVBQUGh0QgHx%2BcnyMgUykDlq2tBLhDMCAgAQGmwHQCBr0cDAhDEzASEi2yEnRECQUczRscCkITABUV0xXYRSfcG%2BwLMS4sE%2FLk6FEH7OwMARYuFP4TFOoVGYFvQwgBGBLyCyiwiAGDIUIMuEAxIYaGRRZseMHRQIYMKyhewEhEwAsSJzd8XLmC5JAEJCCQmKmhpoaPLoUkgMBz5pBSmxlyxhDwoCiEEEQ0CI2xoGjRAkuLcHD64EDUlxGoOrgqhEPWBxEgwFqKwESEsyasXnUQwezZCOCuDpDh1sQArkIE0DURYg7eGHMfZPqbNwGRIAAh%2BQQJBwAuACwAAAAAIAAfAAAG%2F0CXcEh0gUqCEwLhcAhKxajUJVGMEgKBw7NcDL6OzzRaASlKV1TS0f2KDocTaCwEtAIfRSqt5XoHbw0EA2JTExISICABemknbAhecAcEBAcpUhQAFRWIiwoKHx%2BLewiAcAYEBg2FRCwTsBUwiBVTCggHDQa7BiJzQxYUwq8AE3RCKJW8BR5DFxgW0cIUx0Mjux0F2gpCF97eGBjVRAIG2toqQisZGSve40UD5xwFAez37PBEJdocHBsCMmgYOFBfkQb%2FNmwYUFCIBoNEEDBQuMHAQ4hSBFDcwAHjlBEKQ4j0KCWByBAvQpCMIgDlixcbVhZZ8JLEiwIyiRQgwZPEgU6cQkZAGEoCwgmgLgw8gLCURKuVCB5Ilfozp4ClU19wk4kgQoSpDwbIDPDCq9kIDALkDDHj7AMoQGOY8PoiAdKkMdBuvUtChNq7Qp4SCQIAIfkECQcAMAAsAQAAAB8AIAAABv9AmHBIlHxKCZRgmVAQn9AhwKgojRIJwcmD6AoCUShl2gJ9qlctF6EaLASgsNA1AVQk5TNS6eAuBgMHKh9hFhQsExN3EgEfKVgCfQh%2FgQcDTk8XGBYuh4oSoKAtRwKTgAeoB4REF62bFIkTYR8OpwcNBANxQhkZKyuaFhZyQwkiqAQEBg68vb3AF8REJbcGygSEGtoaztJPCcoG4ggwGkPc3lAL4gYdHWDn5unT4h0FBQLz0gf39wv6xDz0K9AAoBwUHApwSGgwzIiFHDYwaBhlBAMGGyRShCIgY0YOG58g8LjBQEgiBkKE2BBiwEkhI168CDEz30sDL0jIDLEqpAdOCBByvnB5UgAJoBB0YtqIAMIDpBCIUkxQIMKDq1c5wDN4YEOEr1gfvEix0YCJr1a%2FhhgRckEMtF85LN0Y4%2BxZEVtD1n3QYO7JESfyQgkCACH5BAkHADAALAQAAAAcACAAAAb%2FQJhwCANIQB%2FFaFn6EJ9QC6tSOSZHCZTg5EgEoE%2BMizWptgKKUiKx9SAQCRAYdsFYKCxAFZnCChxuCCoeX0QZGSt1d2VWSmyAbyoLCwpEGhqIdRQTE3p7CgmQCAsDpU5DmBmKFnMBAqOlAwcqcqiZc0QjpLIHBwKWiLhPKSIivb2nMJjCUAm9DQ0EHszMCNAE2IXUYCnRBgQGCdu4AwbmBgjjcw7mHR0H6mAJ7R0G8VAlBfr6908j%2B%2Fz6DUHBAaDAIQg4KOTQ4KAQAgw2SBzgcITEi78OEri4gYG2ex5CiJS44KCAEC9ejKzUDwGJlylDqOj3D8KDBzALfMS1BsGANw0Rbt58uSHFOA4RkgYVijPECHURTChl%2BqAAy3EdpCoNSmLATmomwop9cOBqvAImQmxoIKDWnCAAIfkECQcAKQAsBgAAABoAIAAABv%2FAlFBooUwqsBYoAAINn1Dh5VJkHSWgj2KUUDijwoz4giles9sESlD6PjXwzIpKYVUkSkVJLXAI3G9jGC4sADASAXoJAicOHh4fUXFTg0Z3H3uMDggIHgGSYmApEiWanCoegHCiTwqOnAsDAqy0CrADuJG0oiUquAMHJ7usDrgHByKfw1EKIiLHBwnLYCrQDR7TUQINDQQEA9lQCd0GBA3hTyUEBuUG6EMl7PLvQgny7PQpHgUd%2FAf5BwoILKCCXgkOAwugoHeAA0KEysI52ECRAYOC6FAwoEiRgwJ0HjaE4LgBQbgRBl6oHLmhQ0QoBwZ4SJDAwwIOEEiofBEihEc%2BVhwiCBX64AEECC90vuAwgpaMoUWjPiChs8NHVgpiQJWa88WCl2BezDAxlOiDFweu7vrQgGIEExs4HPhDKwgAIfkECQcAJwAsBwAAABkAIAAABv%2FAk%2FCkyWQuGBdlAqgMn9BnEWlZViQgECzKnV6qkyvoo%2FhIuEPNFAMWf0qjUgutNiJdrAqsBVKUEoABaEYrVEt7ZCMJKAICIGhoFQEKio0ejpBoIIsCDh4ICZmanZ4ICIKiUQqlCCooqVwopioLC4%2BwTx8ItQMDI7hQHr29DsBPCcMiKsZDJQfPBwPMQinQz9MnzgcEDQ3YCQ0EBAbe0w4G4wbS0wMG7gYI0yUdBvQGocwiBQUd9KjADvYJjGcsQQEOAgsoMOaBg0OEHDw8CRACX5QRBjZo3MCAg4F%2FJ2LMMMFgAKgEHhYUeBEixMYNCo%2BZiEAzwoObN0m8YLmxQAk0KDJMCLWJM%2BfOlhsMLHxSQuhQojchkNDpcgHIIQoaRHiKk4TUECKWQgIh4ADHmw4PYIIUBAAh%2BQQJBwAAACwEAAAAHAAgAAAG%2F0CAcEjUZDKXi8VFbDqdGmPSQplYn9hiZqWsViSwSvYZRWKoky8IBBsXjWYXawKTgBSKlpu4vWC8Ei0BCiUlEntPFGofhAkjeohOFYMlIwkCKZFPEimWlwIgmk4gCSgCJw4Jok4lpw4eCKGrQyACrwgqmbNDKB6wCCi7QyMIuAgOwkIpCAvNC8kACgsD1APQCtUi1sklByLe28ICB%2BQHz8kLDQ3kHskpBPDwqsIDBgT2BAHiBvz87UO2IiXo0KEfgQ9DHJiIgGDPiQIQCXZAJmREjBkRInAYgaUEAQ4QIzbQB8BDjBgZUxZYkGqEAwQGNjDgABKiAQVDPpBIGeGBT0kIQF%2B8CLFBpkyQBko0UcBgYU%2BfDyA8EDq0aFEGBHA6CSAiJVQSEEgIJVqUAwKSWBQ0IPGVhNihITgM0Lqn1gGaD0iAHIBCFpYgACH5BAkHADEALAIAAAAeACAAAAb%2FwJhwSCzGNJqMcck0IjOXC6ZJLT6lFle1%2BoRiXKwJa7vsRi2USaUCIC8zK6krXZG0Ku7lBa2GtUAgeUwUaxIgHwqBgkYTdocKJRKLRhUBiCUJCpNGAZAJny2bRBIjnwICH6JEJSinAgmqQwoCJw4OArFCH7YevbkxH70Iw78fw8e%2FKQgqzAi%2FCQsD0h6%2FCNLSJ0SKggoHIiIDIiNDIRyTCAfp6QExGzImEc55Ag0H9QfZDybw8LhkIwYICCQgIpWICPAiRHggj4oAAxADGsgWA0SIhA8yFhi3pMSBDhEhithW4oHCjBlJFFDhYMQIBwgMcChQICQBTUQSQDiZEQKJRxcvQmwYymEmzQ4dCKRYooADypQ%2Fgw7dYJTmgVRMAgyA8MAniZ9CpzIoWgABuyrdXjyIGiLs0AILsLoBIUAEzbYgFyTYtiQIACH5BAkHAAAALAAAAQAgAB8AAAb%2FQIBwSCwaAZqjcqnUZJjQpXN1iVqFGucFg7kys9Oty%2BJtOjOXi4VCKS%2FRahdrMnEr45RJBVa3G9d6FRISfkd6MBIgIBWFRSyIIAEfhI1EiQEKJR%2BVlh%2BZJSWcQxIpJSMJI6JCEqcJKCiqAC2uArWxH7UnukMnBh6FKQ4nDh61LyYxEQyFAh7OCAkeJiYR1Ql2Hwja2ikf1d8Fdg4LCyoqCCAADdTfCGUJA%2FHxAkIK3w8PJPRWJSLy8ZuEDKiGL98vKCgOKDwg4sA%2BIQE2RCj4AIKBVEdKLCBAYOGBBemIpAhBkcSLEAYQnBgxolkDAzANEGhwYEDAIiNIQoBAwmSIRw0bGHDgUKBATI4dUyxRUICnyZNAhRYt0AEmAQM2oQQY8KJriJ9Bh0616iBkFAUiNnwFCpRo0Q4IbnoBgWIATKAyVSQweyQIACH5BAkHADEALAAABAAgABwAAAb%2FwJhwSCwaiRpN5shsFpNLp%2FQJzVym2Fj1csFkpZkw10L%2BOldjF4VidmIs6gmA1WZiKCx5BVBn6isSMH1HE4ASLS2DRhOHIAEfBRwcBQWKFQGPHwoRJiYRESODFQqkJSUQn58egy2mI68bqREDgx8JtwkjBJ6fHIMjKAICKCUeng8PoHUgwifCCh%2FJyA8ddSgO2NggMQfTDxCrXyUIHuUICUIKJN4kKFkKKioI8wjbQgPsIeFOCQP%2BC%2FPQDQnAgYRBEi9CGCjBJAWCAyL8DVjgwd6QFCEMvki4YQMBDwJMCXAw4IBJiP8%2BHBmxYWOIEB0ZSKJkoCaBBg1ODlDQREGHN5cdN8ikVKCmzZwHVKh0EmBB0I6TKHWwSYDAAQEWpSgYwAEq0ak2ESw1AyLBAgIGKFlFMCKrkSAAIfkECQcAMgAsAAAGACAAGgAABv9AmXBILBqPmqNyqUwyn01NBkqVJTXSafWJzV5kjoJge8yYV5c0wRQzhcbkIfqCwVg2kXxkEB%2FS7RQUEHoRcH0YLoEsE4QRCX1CLosTExV6DxEokDIUABWfEoMPmA6bEzAwEqocEaMPC5sVIC0gtQeuDwWbIB8BHx8gDq4QECN9EgrJKSktHyQQDxAkBn0pIyUj1xIyByQv3y8eZB8J5eUKQgovJN4vG5pUHycC9CgJLUML698bG6VPJTw4OEHwRAoiAQq8CBGi34YGJZR8cIAAgYeLHgTgI5KCQcMNDBhw4HDAgYASJRIIUDFgwIIFFS0GODKCg0ORBXIaMEDggM8%2FAy0HqLD4YYkCA%2F1wFuiwk%2BdPEUEdzGQSAAEHpUyb9jwgAqgAEFUULMhZQCsBAg24Su0DIgGCtDuBehgBdkkQACH5BAkHADIALAAABwAgABkAAAb%2FQJlMJSwaj8hkURGZOZTQqOxgMsVMAqlW%2BImYIuDGVuv4giOJMVSjIZwjDPWRLWNnOJHHIzKQGzNsGhkZL3l7J35Fg4srEHp6aYkyKxeVlY8PEJGJFxieFhYvehAQiJIYLqAUFAUkjiQLkjIULLW1ByS5Lx2yEwC%2FABMnui8hI4kTEhUwzBMfL9AvGwSJEiASLdkTMgMhxRsbT2oSCh8BINdCChsh4Bscm1IgIykK9h8VRSrgDAwcBaaifEiQYMSIEiVAGAlgwN2%2FAgdKKAmA4oQAAQQTlJBwREGBDf4KiDQgAqO9EQkcIPDgwKIAFAlaJClR4GGBDgYMEDhwQMSAQAELEKxk6UCAQiUKCDzMmXNnz59BhXowKiUAgpFNCTR4%2BlMoggRHtXxAwJSA1p4%2BByBAESDRPAQ%2Fdy5Y4CBhlCAAIfkECQcAJgAsAAAEACAAHAAABv9Ak9CUeA2PyKTyqCDNjMtoFLSJRGJQqXY4sFplpO1W4bU%2BEmLtIfJ4WBFp6YfEdnfiUke7HUHjlwd7DwV%2FUQUQDxAQC4VLLySKEAKNSRokl5cjlCYaGpwaL4%2BhfoUZGZ0aGRuhLyEnlKaxGR2tLxsqlBe6uwMhvhsGlBYYGBfEAiEbyhslhRYUFBYWLhYBDMsMB4UTEyzQ0SYLyxwFr3EAFRUA3CxCChwb5AUdpFoVIBISMDAV7UII8goUMDBJS4sPH0CAaNGiwpEABOR1MGBgQIolIFKMSKEAYQAQAJAoMCBwIsUGCwSMUKAgRQkBAlAkGFGC4weHSUqQNGmgwQFNEQMGLEDgwQFMmSM2Sojy4QBFAlAP%2FBSqwkPREzETlFgqJYADqFGnCkVA1oFRBVy3fEDQwKfUoEPJehgBohCIEQ4WLDgwgCgKBXWjBAEAIfkECQcAKAAsAAABACAAHwAABv9AlHAoVBCPyGQyIJopn1CUgmMyRaLY4YhkNc1A2aiCFCmXnWEliFN%2BmAtp5cD9cEcQ8eS4zhfkkyJ8dXh%2FRx8kEA8QEAaFSCcQL4sQI45HBySZL3CWRAUvmgudRBsvpiF%2Bo0IhrCEblaoorhu0CbEoHLS0qaoGugyEfxpEGgO0DBwNjhrMKMwCGwwF0yV%2FGdfMGhkBBRzTBSJ%2FFxfX10Iq3tMGvFkYGOPjK0XTHQb2sFgUFC4W7u9DHgrYs0fAVpQJACaw2OcCA5EADQYaIHAAgZEkFSRIqFBhgkIKSBQQmDjxgIgBCEakCADiwwcFClhq5DgBJJIUDQgQaHDgwIBPBSoQODghIMGIEgo%2BgGghAcaEJx8GUDQ54CcCDw4EFFWZFISEp1BAOOjp06pQokaPKmhRIcwHByJOLkBAN%2BvWDzD%2BgCghACtdrSUCSIASBAAh%2BQQFBwAzACwAAAAAHwAgAAAG%2F8CZcEgECU7EpHJJVDQiJhlzugwMIlhThMoVKjjYcGzQnY5C2EfYZCgvFaGHXI1lHNxJUGEujxRGeEoLEBAPhRAIgUoKLySEECQCikoDjSSOHpNJHyEvjS9tmkQCnZ4vgKJDIiGsIR2pRAYbsxuJsEIctBuStzMMswwMqLe%2FDBwcCb0zBcfMvLcEBdIFmb0L0wV3vQIFHR0GBiW9Ad%2FgBguTGkoI5gQEyXgZGupEHwQG7g0H4mUrGfLq5glxgI%2FAgQMD4FHBcMEfQHozQAwgoA%2FhAAcfmFCg4ILhhX8Zkig4eHDAAhUIUCgIIEECjAowAEygYMHjRyUpBogQYXKBB04HJ1CMKPEBRIsKMjnWvMAkgAqeA1A6ECAgQQkFRSVUmDCzIxUjJhEg%2BFl16MoWWiuwcFEmgACxCKYKLZFCgVG1ikAoSCAARdWrICRQCQIAOw%3D%3D) center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(data:image/gif;base64,R0lGODlhAQABAIAAAP%2F%2F%2FwAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89%2BbN%2FrXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz%2FSMBAPh%2BPDwrIsAHvgABeNMLCADATZvAMByH%2Fw%2FqQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf%2BbTAICd%2BJl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA%2Fg88wAAKCRFRHgg%2FP9eM4Ors7ONo62Dl8t6r8G%2FyJiYuP%2B5c%2BrcEAAAOF0ftH%2BLC%2BzGoA7BoBt%2FqIl7gRoXgugdfeLZrIPQLUAoOnaV%2FNw%2BH48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl%2FAV%2F1s%2BX48%2FPf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H%2FLcL%2F%2Fwd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s%2BwM%2B3zUAsGo%2BAXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93%2F%2B8%2F%2FUegJQCAZkmScQAAXkQkLlTKsz%2FHCAAARKCBKrBBG%2FTBGCzABhzBBdzBC%2FxgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD%2FphCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8%2BQ8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8%2BxdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR%2BcQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI%2BksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG%2BQh8lsKnWJAcaT4U%2BIoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr%2Bh0uhHdlR5Ol9BX0svpR%2BiX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK%2BYTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI%2BpXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q%2FpH5Z%2FYkGWcNMw09DpFGgsV%2FjvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY%2FR27iz2qqaE5QzNKM1ezUvOUZj8H45hx%2BJx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4%2FOBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up%2B6Ynr5egJ5Mb6feeb3n%2Bhx9L%2F1U%2FW36p%2FVHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm%2Beb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw%2B6TvZN9un2N%2FT0HDYfZDqsdWh1%2Bc7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc%2BLpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26%2FuNu5p7ofcn8w0nymeWTNz0MPIQ%2BBR5dE%2FC5%2BVMGvfrH5PQ0%2BBZ7XnIy9jL5FXrdewt6V3qvdh7xc%2B9j5yn%2BM%2B4zw33jLeWV%2FMN8C3yLfLT8Nvnl%2BF30N%2FI%2F9k%2F3r%2F0QCngCUBZwOJgUGBWwL7%2BHp8Ib%2BOPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo%2Bqi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt%2F87fOH4p3iC%2BN7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi%2FRNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z%2Bpn5mZ2y6xlhbL%2BxW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a%2FzYnKOZarnivN7cyzytuQN5zvn%2F%2FtEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1%2B1dT1gvWd%2B1YfqGnRs%2BFYmKrhTbF5cVf9go3HjlG4dvyr%2BZ3JS0qavEuWTPZtJm6ebeLZ5bDpaql%2BaXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO%2FPLi8ZafJzs07P1SkVPRU%2BlQ27tLdtWHX%2BG7R7ht7vPY07NXbW7z3%2FT7JvttVAVVN1WbVZftJ%2B7P3P66Jqun4lvttXa1ObXHtxwPSA%2F0HIw6217nU1R3SPVRSj9Yr60cOxx%2B%2B%2Fp3vdy0NNg1VjZzG4iNwRHnk6fcJ3%2FceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w%2B0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb%2B%2B6EHTh0kX%2Fi%2Bc7vDvOXPK4dPKy2%2BUTV7hXmq86X23qdOo8%2FpPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb%2F1tWeOT3dvfN6b%2FfF9%2FXfFt1%2Bcif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v%2B3Njv3H9qwHeg89HcR%2FcGhYPP%2FpH1jw9DBY%2BZj8uGDYbrnjg%2BOTniP3L96fynQ89kzyaeF%2F6i%2FsuuFxYvfvjV69fO0ZjRoZfyl5O%2FbXyl%2FerA6xmv28bCxh6%2ByXgzMV70VvvtwXfcdx3vo98PT%2BR8IH8o%2F2j5sfVT0Kf7kxmTk%2F8EA5jz%2FGMzLdsAAAAgY0hSTQAAeiUAAICDAAD5%2FwAAgOkAAHUwAADqYAAAOpgAABdvkl%2FFRgAAABxJREFUeNpi%2FP%2F%2FPwNuwMSAF4xUaQAAAAD%2F%2FwMApeMDETvREvMAAAAASUVORK5CYII%3D);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAACYCAYAAACf3wtiAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89%2BbN%2FrXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz%2FSMBAPh%2BPDwrIsAHvgABeNMLCADATZvAMByH%2Fw%2FqQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf%2BbTAICd%2BJl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA%2Fg88wAAKCRFRHgg%2FP9eM4Ors7ONo62Dl8t6r8G%2FyJiYuP%2B5c%2BrcEAAAOF0ftH%2BLC%2BzGoA7BoBt%2FqIl7gRoXgugdfeLZrIPQLUAoOnaV%2FNw%2BH48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl%2FAV%2F1s%2BX48%2FPf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H%2FLcL%2F%2Fwd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s%2BwM%2B3zUAsGo%2BAXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93%2F%2B8%2F%2FUegJQCAZkmScQAAXkQkLlTKsz%2FHCAAARKCBKrBBG%2FTBGCzABhzBBdzBC%2FxgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD%2FphCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8%2BQ8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8%2BxdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR%2BcQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI%2BksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG%2BQh8lsKnWJAcaT4U%2BIoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr%2Bh0uhHdlR5Ol9BX0svpR%2BiX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK%2BYTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI%2BpXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q%2FpH5Z%2FYkGWcNMw09DpFGgsV%2FjvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY%2FR27iz2qqaE5QzNKM1ezUvOUZj8H45hx%2BJx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4%2FOBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up%2B6Ynr5egJ5Mb6feeb3n%2Bhx9L%2F1U%2FW36p%2FVHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm%2Beb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw%2B6TvZN9un2N%2FT0HDYfZDqsdWh1%2Bc7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc%2BLpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26%2FuNu5p7ofcn8w0nymeWTNz0MPIQ%2BBR5dE%2FC5%2BVMGvfrH5PQ0%2BBZ7XnIy9jL5FXrdewt6V3qvdh7xc%2B9j5yn%2BM%2B4zw33jLeWV%2FMN8C3yLfLT8Nvnl%2BF30N%2FI%2F9k%2F3r%2F0QCngCUBZwOJgUGBWwL7%2BHp8Ib%2BOPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo%2Bqi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt%2F87fOH4p3iC%2BN7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi%2FRNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z%2Bpn5mZ2y6xlhbL%2BxW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a%2FzYnKOZarnivN7cyzytuQN5zvn%2F%2FtEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1%2B1dT1gvWd%2B1YfqGnRs%2BFYmKrhTbF5cVf9go3HjlG4dvyr%2BZ3JS0qavEuWTPZtJm6ebeLZ5bDpaql%2BaXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO%2FPLi8ZafJzs07P1SkVPRU%2BlQ27tLdtWHX%2BG7R7ht7vPY07NXbW7z3%2FT7JvttVAVVN1WbVZftJ%2B7P3P66Jqun4lvttXa1ObXHtxwPSA%2F0HIw6217nU1R3SPVRSj9Yr60cOxx%2B%2B%2Fp3vdy0NNg1VjZzG4iNwRHnk6fcJ3%2FceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w%2B0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb%2B%2B6EHTh0kX%2Fi%2Bc7vDvOXPK4dPKy2%2BUTV7hXmq86X23qdOo8%2FpPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb%2F1tWeOT3dvfN6b%2FfF9%2FXfFt1%2Bcif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v%2B3Njv3H9qwHeg89HcR%2FcGhYPP%2FpH1jw9DBY%2BZj8uGDYbrnjg%2BOTniP3L96fynQ89kzyaeF%2F6i%2FsuuFxYvfvjV69fO0ZjRoZfyl5O%2FbXyl%2FerA6xmv28bCxh6%2ByXgzMV70VvvtwXfcdx3vo98PT%2BR8IH8o%2F2j5sfVT0Kf7kxmTk%2F8EA5jz%2FGMzLdsAAAAgY0hSTQAAeiUAAICDAAD5%2FwAAgOkAAHUwAADqYAAAOpgAABdvkl%2FFRgAACgZJREFUeNrs2m9Mk9ceB%2FDv00JBpP6FLWzXIiiuUEu0hYy2UkmtI21nSInQGOufaDT4YsliTJZl42I2svliEWUjQKZgRqMRkxlWq9MGFYSwxN1kb%2FZCTTQBpGpcaHlsC7XtuS92Hm9p5MrAUk3Ok%2FQVCXz49fSc8%2Ft9yxFC8DY9IrxlDwMzMAMzMAMzMAMzMAMzMAMzMAMzMAMzMAMzMAMzMAMz8FvxpMz0A47j5vo7ubgXARClPyMAMJ%2BYIiVB71pqfX19ilQqFd%2B%2Ffz%2FS1tYWAhCh8PmFKoSQl77mWNkUpVK51Gw2vw9gNX3l1tTUvAtgMS0QN9PfnM3rdYE5ACk6nW65XC7PB1B%2B8eLFxjt37nSdPn36MIDiysrKdwGkARAlG8wBSNXpdMv1ev06AEaXy3VhamqKEELIxMTEpNPp%2FALAqvr6%2BkwA4vmA57tLcABSNBqNNBQKZff396%2F%2B5ZdfDhmNxu0SiQQAJqVSaZpSqdwIgMvOzhYlc1vjAIjlcnmmVCrNun37dv7Vq1c%2FMZlM1RKJBISQCIB0r9cb7Ovr%2Bw8APHjwIDLvj%2FQclwQHIKWoqGhZVVVVAYCtTqfz53A4TAghJBKJhAkhZNw7Hjz2zbFvAah27NiRA0CSrDUsVigUy0wm01oAhu7u7nPBYJAQQkg0Gg0TQojP5ws1NjZ%2BB6DMbrfnAsik7%2BiC7hIcgBSFQrGssrKyQMAGAoFplQ0Gg%2BGTJ082A9DU1dXlUaz4Ve%2Fq6wZzAFKKi4uXVldXrwVg6Orq%2Bsnv90djsTzPh06cONEMYNOuXbvyY7DcQoPFSqVyqcViWQOgwuFwdPE8H41dBhMTE6GmpqZmANqdO3euASCNxy4UWKxUKpdarda1ADafOXOmk%2Bf5SCzW7%2FeHW1paWgBoDx48mB%2BDnfUH%2FXWAXxy3NputAMDmzs7OjnhsIBAIt7a2tgLQ7d69Oz9%2BzS4kWJSbm7tYq9WuAqDp6Oj4kef55xQbESrb3t7eDmDT%2Fv371wBYItwZkgFO2bZt23IAyrNnzx73%2BXxTsdjx8fFQW1vbOQAf7dmzpwDA0ldhEwnmjh49mgYgs6Ghwe71eoOxy4AQQhwOxx8A6ux2ux6AcDBwcz2s5l1hq9WaolAolgH48Pr16%2BcjkQiJrfDY2Bh%2F4MCBFgCGmpqafHqFFCcNDECk0WgyAcgAbOnp6XEK1RXQT548mdi1a9dXANR79uyRAch41R0l4buERqNZYTKZ5ABMLpfrkoAWDotHjx557Xb7UQClNTU1Ajopu8QLdFlZ2Qp63zVdvnz5cjza4%2FF4bTbbvwGU0EovTsY%2BPO2SXlpautJoNH4AwHLlypVrAjpMr2kej2fcarV%2BCUAVU2lRMsDT0FqtthBAldvtvhazpsP0g%2Fj0448%2F%2FhxASW1trQzAonj0Qt%2FWUktLS1fqdDo5AIvb7e6NRz98%2BHDcZrPVx6AzknFbm4ZWqVRZdHlU9fb23hDMwpp%2B%2BPDhX3q9%2FjMA6p07d%2F4rZnkkpWvmAEhUKlXWxo0bCwFU9%2FX1Df6v0H9Xenh4%2BHFxcfGnABS01U9NZpvPAUg1GAxZGzZsUACoHRwc%2FC2%2B0qOjo54jR47UAZDt3bs3I9ltPgdAUlFRkS2VSgsBbO%2Fv7x8Q0ISQKUIIuXfv3nkAsubm5iXJbvMJgOc3b970qdXqp3l5eX%2Fq9frjQ0NDg8I%2FAwDDw8OjAMjIyAhJVtf8snGBxGKxvANADmCb0%2BnsGhoaGuju7j4OoKyoqChHoVCkvwmTn2lrWqPRrEhPT5cBKKD4fAA577333ot2aT5gbibcHMetHADxli1bJLm5uZJgMChatGhR1OPxTF25cuU5nWCS%2BYxbOfaVcgZm4DcklJlhx%2BBi%2FlEhcIl9zekcSFQow1GouK6uTpKfny%2FmeT7y9ddfhwEIW1bin1mdLrRNArCY3rpyhdDFZDK9r1QqZzWPeB3t0mzBIgBpNFgpPnXq1OE7d%2B50Xbx4sRFA%2Bbp169bodLrlc0EnCiymgcoqp9P5Bc%2Fzk4QQMjk5SVwu1wUAxvKt5esoOvWfoBN2W6OBCrd%2B%2FXpVZmZmGiFkMi0tDVu3bt3e09Nz6Jb71upQKJSt0Wikc10er3Vbu3%2F%2FfgQA%2Bvv7f%2Fd6vQGO49Kj0WgkNTUVZrO5%2BurVq5%2Fcvn07XyqVZsnl8syXzYUX8kMnAiChwYrq2DfHvhVmbUJnEQ6HyaVLl34GsLWqqqqgqKhoWSIGg%2F9klxAByKQBS1ljY%2BN3Pp8vNG1O7PeT8%2BfPnwNgMJvNaylanAzwi0k8gEwatGhOnjzZHAwGI7GVDgQC5MKFC%2BcAGCorKwvoMHHGSicazAloGrhsOnHiRDPP86G4%2BCDa1dX1EwCD1WpdW1xcPOM%2BnWhwLFpKgxdtU1NT88TERCi20n6%2FP%2BJwOLoAVFgsljUULU4GOHZ5SGkAo%2F3hhx9a%2FH5%2FOLbSz549i5w5c6YTwObq6uq19EQUJwv8Yk3TIEbX2traGggEpqF5no90dnZ2ANhss9kK4o%2FxhQYLd4wl%2B%2FbtWwNgU3t7e3tMpSMU%2Fbyjo%2BNHABqtVrtKJpMtFs6AhQbHopfSYOajtra2c%2BPj49PSJp%2FPN%2BVwOJoAKGnQk5IsMGKGJjk0oKlzOBx%2FxA%2B9vV5vsKGhwQ4gkwY%2BXLLAYnr1zAdgOHDgQMvY2BgveCma3Lhx4zyADxUKxTKr1Zq0CosAZOzdu1cGQL179%2B6vnjx5MkGREaHKPT09TgBbAMho0CNK1i6RQeOBUrvdfvTx48fe2GVACCEul%2BsSAJPZbJaXlZWtSNYuIQawmAYwJbW1tQ2PHj3yxoePLpfrMgCTXq9fF49dSLAIQAaNA1RWq%2FVLj8czHl%2FZX3%2F99RoAi9Fo%2FECj0ax42eV%2BIcAiAIsotsRisXw%2BNjb2NB7rdruvAajSarWFpaWlK2fqRBbitiZUtsRms9WPjY2Nxy8Dt9vdC8Ci0%2BnkJSUlK%2F9f25To%2B3AGDVjUer3%2Bs9HR0b9isFFCCOnt7b0BoMpoNH6gVquzXtXjJRKcSlt8hVKp%2FHR4ePhxPLavr28QQLVKpSpUqVRZs0n3E9bm00BFdvjw4UMjIyOeeOzAwMBvAGo3bNigMBgMWbPtnhPW5n%2F%2F%2FfdLAMju3r3bTSOXKQF769atAQDbpVJpYUVFRfZsvzeR0DZ%2FeHiYACCjo6MjhBCA%2Bxs1NDQ0WF5efjwvL%2B9PtVr99ObNmz46ukrMpHy2S0KhUKQXFhbmACjr7u4%2BPjQ0NOB0OrsAbAMgN5vN7whfVXwTJj8cADENVnJo0CIHUJCeni6jJ1gqFmC2NquMg45bOQBik8mUmpOTkxYMBkUZGRnRBw8ehK5fvy58ZZzMBcxCGQZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZmYAZm4Jmf%2Fw4A%2FkRht3aT0IUAAAAASUVORK5CYII%3D");
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(data:image/gif;base64,R0lGODlhIAAgAPUuAOjo6Nzc3M3Nzb%2B%2Fv7e3t7GxsbW1tbu7u8XFxdHR0djY2MHBwa2trbm5ucnJyaSkpKWlpaGhoeLi4urq6u7u7ubm5vLy8vb29vT09Pr6%2Bv39%2FaysrK%2Bvr7Ozs8fHx9vb297e3qmpqb29vdPT06amptXV1aCgoMvLy8%2FPz9fX18PDw%2Fj4%2BOzs7ODg4PDw8KioqOTk5JqampmZmZycnP%2F%2F%2FwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH%2FC05FVFNDQVBFMi4wAwEAAAAh%2BQQJBwAuACwAAAAAIAAgAEAG%2F0CXcEgECQ6bUGRDbDpdimTo9QoJnlhsYVvojLLgrEAkGiwWiFTYldGsRyHSYz6P2COG9XCw2TAYeXprCQYEhQcKgoouAQ4IHg4CAiMpCiASFRMUFhgXFxkZawEDcnd2Jh2LLiAdLyQvELEFX6pCAQx9fQ21T1wFHCi8TwcGxQYnwk8eBAcHZQnJTh8D1I8OJwmWMBMsFJudoG4u4mAgIwIoCSMKlpjcmxeLCgcPJianEcIKBXR1prVRSMiBUIfDAA8JoC1SMYWKKw%2FRXCzoE6IixIgC%2BuDaQCsiAQ4gOSCIOMRXhxIkhRjoYEwhSQTGCAxIyYiAzWYjU35o5oxaIj095J6AWFDmDAIHCVpgubCizRoFKtBAQjeixIdLADRZYBpOQ1An5qYmLKEgQAsYWb95UiUhgIJK7bZRCBMEACH5BAkHADMALAAAAAAZACAAAAb%2FwJlwSAQJRJxNJMLgHBzE6FBxeD0ey2zEBJESA4sXBHItZ2MJr1DReZFIZfNS9lGXOC83aRzPktQKHCEheW4QBQseCQkeAwZeIAYbG4OEBiNqXgiTnBsemV6BkwwbDCigXioMq6RQqFEBHLKyB69SKAW5BRwltlELugW1vkQHBh3In8RDBs3NactCBM4GvdEzBNMGBNbRB9MEB9DRAwQNBwcC1zMe5wciCOsj7wcDAwrXAe8i9ifrDvwGLEDQjdgHewtUIPBQJxqKBQM9OBDQkBgIBws9CBCQQAEMNRk0SAngoeTGBCMUgKgwgYIFDBcyhPTywSTHEiolsHR5YcVMMkgoOCbACUJny5cxf0ppkWIRzgAtYABg4QKmz5AivUhQ8LTozqo9M9iS0KKFURY8iQQBACH5BAkHAAAALAAAAAAZACAAAAb%2FQIBwSAShRBzGA8LhHAQgolSoEIVIENJjG%2BmaHgfFFBBQbUKvF3bL7kZMpoFUYTij0xAI%2B%2BE2yVJEJQUbhCF3JGsRfF0xB0QKg4SFIR0qDgkJHgMhjEUESZIbBiNjAAkvAkQeHAUFTRwOpaUKHa22CbKlCLatsblTAQYdwgVyv1MJBsrKJcdTCMsGxs5EAwQEBgQn1FIH1wQHpNxDBw0H52LjQucHIiKA6gAi7SID4uoL9QMLuPEOA%2FsW%2BFI3IiACDwHigVCB4OCleKYOejgh4INChwIEJJAQLxPFBCNKcBwHIiOKBCUUfJAwgaRGlApASKgwwQWGCxkyaNAgC8SIMxEpYs6cQMHChRU6f0lQEFQmzaJHk%2F6CAeKDU6JGkfJ0VkHCUAo2cerc6mwC0bBayQIIAgAh%2BQQJBwAuACwAAAAAHAAgAAAG%2F0CXcEgEJQaFAomUHAhAxGhUMWCErq%2FX8sF9HRRSYgDB2ZixWgiXG4kMAuFPg2Gmb0JZEkTNbnPARCUGHAUcDHZYS3wPbW0QCUMfBklJhhsGCA4JCQ4LDH0RMzIcQiAHBR2UBQclYS4JBY0mA0MOBrepBieuRAgmMhuRBLfEkLxEJwdEHgbDtwLHxwEE1NQq0ccjDdQHX9i8Dt3d19%2BuCyIiB07lrgPu7q3sUu8LCx%2Fy8%2FULCPf4vQgAPQDyJ8RBQAfxCL5C4MGBAGMKFTA88VCCQhcgHDhEMWIgwRECUCQYkcKiQhAiSSoAAeCiggQlFHwAIWGCQgkpUqxsAQMABToMBCXIpFlhAgULF1Zk0KCBnQQQRI0iVdpUXgUJEooeTbrU34QKWqd2JUiBxVaqTC9iwHAhg9u0roIAACH5BAkHADMALAAAAAAfACAAAAb%2FwJlwSAQlFoZOKNQpDFAgonQq%2FCwKjI12E3p5IaGDgjoNeAoFDoeR5XpfJAiENAiQq6ImOt1efiEPgRxjVCkHBkl7axsMfnGADxERLyNTH4eIBgVNBAgnIyMOCxwvgYGSL4RCIAMGBJkGIiVkIx2QkhEcdkICBK%2B%2FAndDCBC4kgNVBwcNzAeVwkMCkZIxMR8zJyIiygco0FIIESYyBava2gMe31MbL0QjA%2FHxqutVUgILAwsL6vXCHgtULEDwzB8ZDwgSeqBnEJwHDw4cRGlIBQFEAQImUpQSESOUjVNQYEyQYBfIISVQJBhR4trJIR9IlkjxocJLIRJY0gQh4WaVTxQKArSQMMGnBAUfeFaY4MJnCxAtYCylgOFmhaFLWbjAcCHDSwASplq4sCKDBg0nJwCYQGFsWbQvKcjlmsGszxkW3Nq9y%2FUt3Lsz6u6tFwQAIfkECQcAAAAsAAAAACAAHwAABv9AgHBIBCUQBsOGkVwkQMSodPhBdApYzma7CYU2IsV0CnIQklcsg7H1vl6hQWBMHRjOhnSBw%2B6G3iQQBWJjCgcEiEkGWXxtfy8QEA8hI1MfAwcNiUkHHgIjIycIBX%2BBkpOEQyAqByIHmQQLJWMjBpEPuBEFUEMCra%2BvKHRDHiS4DxERA3UDzQMis8O9xrkRhALOzQnSUQjIyREHACAIKggLCyfcUh3gyR8pCPLyH%2BtRI%2BAmJh4oCB4eDgTYk8IhQgwZMQYIcODghIMUA6McIDGgHoCGAjLOiUgnowAUCVpwpAMyASgJI8ckSFCihAKUKaW0TKHgA8yYROApCADiJk5QIS0%2B8JQAg8LPIRU%2B9IRRYcLRIRKINqVg4SmACRKmurBwweqECSyoXriQ4SmFCVQxkM2gQcNRCmJXsHX71ILaDGytChmLl65eAH3%2FEvGbMggAIfkECQcAMQAsAAAAACAAHAAABv%2FAmHBIjI0QB0KhQCCoEqCidPpBNAzYzrLA2Ww4A8V0ChIkm1jDtuv1qgLj4Ud1ODQIafWSw2iHQh1iYwoLdXV3aXt8Xn8vLxsjUwELAwMihgcDDgIlIwIIBoyOJCQhgkMgDpSVlginRSMGIS%2BkpAVRQwkICJSUCXFDHrMQD8UDqLvJrsBEKCQQxA8vggke1tYlzEUe0cUHMS0O4icOv9pFBsUPEQ8fCgLw8LjnQyPs6xEeJQkoCQmR9IpwiEAwAoF9IxLCCUhkQMEIDEpITKFAAkMiJx5CSEHxw4cKF3MVNBHBI4iTAEIKSTAywskWEmBMUDlFQswKFVjQlIKzwoQ6CRR2FpkAACgFFxiEDqEA1IUFDBeULqVg4cKFFRmkxsDwFGuGDBq0Wv2qoWxYqWTPao1Bdi2RsmuDAAAh%2BQQJBwAqACwAAAAAIAAaAAAG%2F0CVcEhUlRwDkcEgOiASoKJ0GnA0G4Ts0lDoLhTTKUiQbB4IW0OnW2BwEIHwEORYDJKHPHq57jI2GwZgYR8eCAh2d2Z7bBx%2FgAUlYh6Ghwt2CAIJKSUoDgQFjo8hHINDLZ6UlQ6mRSUNgBshIS8dUUMpAicCAg4eknJCDn%2B0JC8LQxIJCby8ccFDCbIvJMaDCsvZH9BFHi%2FU1CIqMCXlJSOt3EIGJBAPECQfLQr09DDqRSMQ7g8PDiABAgC8hY9Ih37vDoBYKKFFhYJFFiB8UECCxQoVJkAkciJCvwgkYGAEMIHCxmgeH0SIQHICCwoWTgpJsLJmSQouLGCQqaJjTT0IFGBiuHCB54CaEThYsED0QgaeDWbIiGGiwVCnGTJo4KkCxIIXCFRg1UCWa5GsZc2e1ap2Ctu2UrbCFRIEACH5BAkHADAALAAAAAAgABkAAAb%2FQJhwSISVTovBgTAYeEagonQaEKgGooN2STB4VZ%2FpFJRAqK5NbaPr7RQ6noB4CBIg7oik8rD2GtwFHAQKc3UODh53KklZDQ1%2BBZGBBSVTLQkCAoceiR4JIyklCQ4HBpIcDBsFhEWimAInDgJhUyUHgRwbugZRdCMjCcEorHMwJwWpuhsqQxUKKaGivcVCCbkbISEbrBIf3goK09RCHtjZIQMwEy0g7QHi40INIS%2F1Lx8AEvr6APFFI%2FZIkDgxAUCFgxX8SSnwAoLAAxMiRmShsMgCEg8cFqDAkaOLikQEPBj5IISFkxgsYAA5JAHJjBdiymRZ7SWEFRkyrFhxgaaxQwgjI7zISTSDzwERkkbgoKFpU6M0NyiNQEDDEA1QQSYwkdSECQdEmtJ8EYErV1o%2BhziYIcPrgbRTEMiYQQxuEQRCggAAIfkECQcAMQAsAAAAACAAHAAABv%2FAmHBIjClQHsRApFqcRsWoNAZKJBHNweDAJTQQn2lUkhI4PNeFlnsgGAgER0AslIxQArMDgdWKDg0NbwYdB2FTEiUJiwInZ3xqf4EGlB0dBiVSMAopIyMJeCcCIyUKCiMCIoKVBQUGh0QgHx%2BcnyMgUykDlq2tBLhDMCAgAQGmwHQCBr0cDAhDEzASEi2yEnRECQUczRscCkITABUV0xXYRSfcG%2BwLMS4sE%2FLk6FEH7OwMARYuFP4TFOoVGYFvQwgBGBLyCyiwiAGDIUIMuEAxIYaGRRZseMHRQIYMKyhewEhEwAsSJzd8XLmC5JAEJCCQmKmhpoaPLoUkgMBz5pBSmxlyxhDwoCiEEEQ0CI2xoGjRAkuLcHD64EDUlxGoOrgqhEPWBxEgwFqKwESEsyasXnUQwezZCOCuDpDh1sQArkIE0DURYg7eGHMfZPqbNwGRIAAh%2BQQJBwAuACwAAAAAIAAfAAAG%2F0CXcEh0gUqCEwLhcAhKxajUJVGMEgKBw7NcDL6OzzRaASlKV1TS0f2KDocTaCwEtAIfRSqt5XoHbw0EA2JTExISICABemknbAhecAcEBAcpUhQAFRWIiwoKHx%2BLewiAcAYEBg2FRCwTsBUwiBVTCggHDQa7BiJzQxYUwq8AE3RCKJW8BR5DFxgW0cIUx0Mjux0F2gpCF97eGBjVRAIG2toqQisZGSve40UD5xwFAez37PBEJdocHBsCMmgYOFBfkQb%2FNmwYUFCIBoNEEDBQuMHAQ4hSBFDcwAHjlBEKQ4j0KCWByBAvQpCMIgDlixcbVhZZ8JLEiwIyiRQgwZPEgU6cQkZAGEoCwgmgLgw8gLCURKuVCB5Ilfozp4ClU19wk4kgQoSpDwbIDPDCq9kIDALkDDHj7AMoQGOY8PoiAdKkMdBuvUtChNq7Qp4SCQIAIfkECQcAMAAsAQAAAB8AIAAABv9AmHBIlHxKCZRgmVAQn9AhwKgojRIJwcmD6AoCUShl2gJ9qlctF6EaLASgsNA1AVQk5TNS6eAuBgMHKh9hFhQsExN3EgEfKVgCfQh%2FgQcDTk8XGBYuh4oSoKAtRwKTgAeoB4REF62bFIkTYR8OpwcNBANxQhkZKyuaFhZyQwkiqAQEBg68vb3AF8REJbcGygSEGtoaztJPCcoG4ggwGkPc3lAL4gYdHWDn5unT4h0FBQLz0gf39wv6xDz0K9AAoBwUHApwSGgwzIiFHDYwaBhlBAMGGyRShCIgY0YOG58g8LjBQEgiBkKE2BBiwEkhI168CDEz30sDL0jIDLEqpAdOCBByvnB5UgAJoBB0YtqIAMIDpBCIUkxQIMKDq1c5wDN4YEOEr1gfvEix0YCJr1a%2FhhgRckEMtF85LN0Y4%2BxZEVtD1n3QYO7JESfyQgkCACH5BAkHADAALAQAAAAcACAAAAb%2FQJhwCANIQB%2FFaFn6EJ9QC6tSOSZHCZTg5EgEoE%2BMizWptgKKUiKx9SAQCRAYdsFYKCxAFZnCChxuCCoeX0QZGSt1d2VWSmyAbyoLCwpEGhqIdRQTE3p7CgmQCAsDpU5DmBmKFnMBAqOlAwcqcqiZc0QjpLIHBwKWiLhPKSIivb2nMJjCUAm9DQ0EHszMCNAE2IXUYCnRBgQGCdu4AwbmBgjjcw7mHR0H6mAJ7R0G8VAlBfr6908j%2B%2Fz6DUHBAaDAIQg4KOTQ4KAQAgw2SBzgcITEi78OEri4gYG2ex5CiJS44KCAEC9ejKzUDwGJlylDqOj3D8KDBzALfMS1BsGANw0Rbt58uSHFOA4RkgYVijPECHURTChl%2BqAAy3EdpCoNSmLATmomwop9cOBqvAImQmxoIKDWnCAAIfkECQcAKQAsBgAAABoAIAAABv%2FAlFBooUwqsBYoAAINn1Dh5VJkHSWgj2KUUDijwoz4giles9sESlD6PjXwzIpKYVUkSkVJLXAI3G9jGC4sADASAXoJAicOHh4fUXFTg0Z3H3uMDggIHgGSYmApEiWanCoegHCiTwqOnAsDAqy0CrADuJG0oiUquAMHJ7usDrgHByKfw1EKIiLHBwnLYCrQDR7TUQINDQQEA9lQCd0GBA3hTyUEBuUG6EMl7PLvQgny7PQpHgUd%2FAf5BwoILKCCXgkOAwugoHeAA0KEysI52ECRAYOC6FAwoEiRgwJ0HjaE4LgBQbgRBl6oHLmhQ0QoBwZ4SJDAwwIOEEiofBEihEc%2BVhwiCBX64AEECC90vuAwgpaMoUWjPiChs8NHVgpiQJWa88WCl2BezDAxlOiDFweu7vrQgGIEExs4HPhDKwgAIfkECQcAJwAsBwAAABkAIAAABv%2FAk%2FCkyWQuGBdlAqgMn9BnEWlZViQgECzKnV6qkyvoo%2FhIuEPNFAMWf0qjUgutNiJdrAqsBVKUEoABaEYrVEt7ZCMJKAICIGhoFQEKio0ejpBoIIsCDh4ICZmanZ4ICIKiUQqlCCooqVwopioLC4%2BwTx8ItQMDI7hQHr29DsBPCcMiKsZDJQfPBwPMQinQz9MnzgcEDQ3YCQ0EBAbe0w4G4wbS0wMG7gYI0yUdBvQGocwiBQUd9KjADvYJjGcsQQEOAgsoMOaBg0OEHDw8CRACX5QRBjZo3MCAg4F%2FJ2LMMMFgAKgEHhYUeBEixMYNCo%2BZiEAzwoObN0m8YLmxQAk0KDJMCLWJM%2BfOlhsMLHxSQuhQojchkNDpcgHIIQoaRHiKk4TUECKWQgIh4ADHmw4PYIIUBAAh%2BQQJBwAAACwEAAAAHAAgAAAG%2F0CAcEjUZDKXi8VFbDqdGmPSQplYn9hiZqWsViSwSvYZRWKoky8IBBsXjWYXawKTgBSKlpu4vWC8Ei0BCiUlEntPFGofhAkjeohOFYMlIwkCKZFPEimWlwIgmk4gCSgCJw4Jok4lpw4eCKGrQyACrwgqmbNDKB6wCCi7QyMIuAgOwkIpCAvNC8kACgsD1APQCtUi1sklByLe28ICB%2BQHz8kLDQ3kHskpBPDwqsIDBgT2BAHiBvz87UO2IiXo0KEfgQ9DHJiIgGDPiQIQCXZAJmREjBkRInAYgaUEAQ4QIzbQB8BDjBgZUxZYkGqEAwQGNjDgABKiAQVDPpBIGeGBT0kIQF%2B8CLFBpkyQBko0UcBgYU%2BfDyA8EDq0aFEGBHA6CSAiJVQSEEgIJVqUAwKSWBQ0IPGVhNihITgM0Lqn1gGaD0iAHIBCFpYgACH5BAkHADEALAIAAAAeACAAAAb%2FwJhwSCzGNJqMcck0IjOXC6ZJLT6lFle1%2BoRiXKwJa7vsRi2USaUCIC8zK6krXZG0Ku7lBa2GtUAgeUwUaxIgHwqBgkYTdocKJRKLRhUBiCUJCpNGAZAJny2bRBIjnwICH6JEJSinAgmqQwoCJw4OArFCH7YevbkxH70Iw78fw8e%2FKQgqzAi%2FCQsD0h6%2FCNLSJ0SKggoHIiIDIiNDIRyTCAfp6QExGzImEc55Ag0H9QfZDybw8LhkIwYICCQgIpWICPAiRHggj4oAAxADGsgWA0SIhA8yFhi3pMSBDhEhithW4oHCjBlJFFDhYMQIBwgMcChQICQBTUQSQDiZEQKJRxcvQmwYymEmzQ4dCKRYooADypQ%2Fgw7dYJTmgVRMAgyA8MAniZ9CpzIoWgABuyrdXjyIGiLs0AILsLoBIUAEzbYgFyTYtiQIACH5BAkHAAAALAAAAQAgAB8AAAb%2FQIBwSCwaAZqjcqnUZJjQpXN1iVqFGucFg7kys9Oty%2BJtOjOXi4VCKS%2FRahdrMnEr45RJBVa3G9d6FRISfkd6MBIgIBWFRSyIIAEfhI1EiQEKJR%2BVlh%2BZJSWcQxIpJSMJI6JCEqcJKCiqAC2uArWxH7UnukMnBh6FKQ4nDh61LyYxEQyFAh7OCAkeJiYR1Ql2Hwja2ikf1d8Fdg4LCyoqCCAADdTfCGUJA%2FHxAkIK3w8PJPRWJSLy8ZuEDKiGL98vKCgOKDwg4sA%2BIQE2RCj4AIKBVEdKLCBAYOGBBemIpAhBkcSLEAYQnBgxolkDAzANEGhwYEDAIiNIQoBAwmSIRw0bGHDgUKBATI4dUyxRUICnyZNAhRYt0AEmAQM2oQQY8KJriJ9Bh0616iBkFAUiNnwFCpRo0Q4IbnoBgWIATKAyVSQweyQIACH5BAkHADEALAAABAAgABwAAAb%2FwJhwSCwaiRpN5shsFpNLp%2FQJzVym2Fj1csFkpZkw10L%2BOldjF4VidmIs6gmA1WZiKCx5BVBn6isSMH1HE4ASLS2DRhOHIAEfBRwcBQWKFQGPHwoRJiYRESODFQqkJSUQn58egy2mI68bqREDgx8JtwkjBJ6fHIMjKAICKCUeng8PoHUgwifCCh%2FJyA8ddSgO2NggMQfTDxCrXyUIHuUICUIKJN4kKFkKKioI8wjbQgPsIeFOCQP%2BC%2FPQDQnAgYRBEi9CGCjBJAWCAyL8DVjgwd6QFCEMvki4YQMBDwJMCXAw4IBJiP8%2BHBmxYWOIEB0ZSKJkoCaBBg1ODlDQREGHN5cdN8ikVKCmzZwHVKh0EmBB0I6TKHWwSYDAAQEWpSgYwAEq0ak2ESw1AyLBAgIGKFlFMCKrkSAAIfkECQcAMgAsAAAGACAAGgAABv9AmXBILBqPmqNyqUwyn01NBkqVJTXSafWJzV5kjoJge8yYV5c0wRQzhcbkIfqCwVg2kXxkEB%2FS7RQUEHoRcH0YLoEsE4QRCX1CLosTExV6DxEokDIUABWfEoMPmA6bEzAwEqocEaMPC5sVIC0gtQeuDwWbIB8BHx8gDq4QECN9EgrJKSktHyQQDxAkBn0pIyUj1xIyByQv3y8eZB8J5eUKQgovJN4vG5pUHycC9CgJLUML698bG6VPJTw4OEHwRAoiAQq8CBGi34YGJZR8cIAAgYeLHgTgI5KCQcMNDBhw4HDAgYASJRIIUDFgwIIFFS0GODKCg0ORBXIaMEDggM8%2FAy0HqLD4YYkCA%2F1wFuiwk%2BdPEUEdzGQSAAEHpUyb9jwgAqgAEFUULMhZQCsBAg24Su0DIgGCtDuBehgBdkkQACH5BAkHADIALAAABwAgABkAAAb%2FQJlMJSwaj8hkURGZOZTQqOxgMsVMAqlW%2BImYIuDGVuv4giOJMVSjIZwjDPWRLWNnOJHHIzKQGzNsGhkZL3l7J35Fg4srEHp6aYkyKxeVlY8PEJGJFxieFhYvehAQiJIYLqAUFAUkjiQLkjIULLW1ByS5Lx2yEwC%2FABMnui8hI4kTEhUwzBMfL9AvGwSJEiASLdkTMgMhxRsbT2oSCh8BINdCChsh4Bscm1IgIykK9h8VRSrgDAwcBaaifEiQYMSIEiVAGAlgwN2%2FAgdKKAmA4oQAAQQTlJBwREGBDf4KiDQgAqO9EQkcIPDgwKIAFAlaJClR4GGBDgYMEDhwQMSAQAELEKxk6UCAQiUKCDzMmXNnz59BhXowKiUAgpFNCTR4%2BlMoggRHtXxAwJSA1p4%2BByBAESDRPAQ%2Fdy5Y4CBhlCAAIfkECQcAJgAsAAAEACAAHAAABv9Ak9CUeA2PyKTyqCDNjMtoFLSJRGJQqXY4sFplpO1W4bU%2BEmLtIfJ4WBFp6YfEdnfiUke7HUHjlwd7DwV%2FUQUQDxAQC4VLLySKEAKNSRokl5cjlCYaGpwaL4%2BhfoUZGZ0aGRuhLyEnlKaxGR2tLxsqlBe6uwMhvhsGlBYYGBfEAiEbyhslhRYUFBYWLhYBDMsMB4UTEyzQ0SYLyxwFr3EAFRUA3CxCChwb5AUdpFoVIBISMDAV7UII8goUMDBJS4sPH0CAaNGiwpEABOR1MGBgQIolIFKMSKEAYQAQAJAoMCBwIsUGCwSMUKAgRQkBAlAkGFGC4weHSUqQNGmgwQFNEQMGLEDgwQFMmSM2Sojy4QBFAlAP%2FBSqwkPREzETlFgqJYADqFGnCkVA1oFRBVy3fEDQwKfUoEPJehgBohCIEQ4WLDgwgCgKBXWjBAEAIfkECQcAKAAsAAABACAAHwAABv9AlHAoVBCPyGQyIJopn1CUgmMyRaLY4YhkNc1A2aiCFCmXnWEliFN%2BmAtp5cD9cEcQ8eS4zhfkkyJ8dXh%2FRx8kEA8QEAaFSCcQL4sQI45HBySZL3CWRAUvmgudRBsvpiF%2Bo0IhrCEblaoorhu0CbEoHLS0qaoGugyEfxpEGgO0DBwNjhrMKMwCGwwF0yV%2FGdfMGhkBBRzTBSJ%2FFxfX10Iq3tMGvFkYGOPjK0XTHQb2sFgUFC4W7u9DHgrYs0fAVpQJACaw2OcCA5EADQYaIHAAgZEkFSRIqFBhgkIKSBQQmDjxgIgBCEakCADiwwcFClhq5DgBJJIUDQgQaHDgwIBPBSoQODghIMGIEgo%2BgGghAcaEJx8GUDQ54CcCDw4EFFWZFISEp1BAOOjp06pQokaPKmhRIcwHByJOLkBAN%2BvWDzD%2BgCghACtdrSUCSIASBAAh%2BQQFBwAzACwAAAAAHwAgAAAG%2F8CZcEgECU7EpHJJVDQiJhlzugwMIlhThMoVKjjYcGzQnY5C2EfYZCgvFaGHXI1lHNxJUGEujxRGeEoLEBAPhRAIgUoKLySEECQCikoDjSSOHpNJHyEvjS9tmkQCnZ4vgKJDIiGsIR2pRAYbsxuJsEIctBuStzMMswwMqLe%2FDBwcCb0zBcfMvLcEBdIFmb0L0wV3vQIFHR0GBiW9Ad%2FgBguTGkoI5gQEyXgZGupEHwQG7g0H4mUrGfLq5glxgI%2FAgQMD4FHBcMEfQHozQAwgoA%2FhAAcfmFCg4ILhhX8Zkig4eHDAAhUIUCgIIEECjAowAEygYMHjRyUpBogQYXKBB04HJ1CMKPEBRIsKMjnWvMAkgAqeA1A6ECAgQQkFRSVUmDCzIxUjJhEg%2BFl16MoWWiuwcFEmgACxCKYKLZFCgVG1ikAoSCAARdWrICRQCQIAOw%3D%3D);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/* line 1, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/text.css.scss */
div#about_container {
  margin: 100px 0 250px 0;
  padding: 0;
}

/* line 6, /Users/Leksi/Documents/Rails/Final Project/aleksandrakolanko/app/assets/stylesheets/text.css.scss */
.body_text {
  font-size: 1.2em;
}
