<div id="slideshow_container">
	<ul id="slides">
		<li>
			<%= image_tag "Home1.jpg", :class => "homeimg", :id => 'home1img' %>
		</li>
		<li>
			<%= image_tag "Home2.jpg", :class => "homeimg", :id => 'home2img' %>
		</li>
	</ul>
</div>
