<div id="performances_container">

	<a class="vimeo" rel="performances" href="http://player.vimeo.com/video/44633229?portrait=0&color=baa400&autoplay=1">
	    <div class="performances_thumbnail">
	    	<%=image_tag "performances/performances1_thumbnail.jpg", :id => "performances1_thumbnail", :class => "big_thumbnail" %>
		</div>
	</a>
	<a class="vimeo" rel="performances" href="http:///player.vimeo.com/video/44636251?portrait=0&color=baa400&autoplay=1">
	    <div class="performances_thumbnail">
	    	<%=image_tag "performances/performances2_thumbnail.jpg", :id => "performances2_thumbnail", :class => "big_thumbnail" %>
		</div>
	</a>
	<a class="vimeo" rel="performances" href="http://player.vimeo.com/video/44707298?portrait=0&color=baa400&autoplay=1">
	    <div class="performances_thumbnail">
	    	<%=image_tag "performances/performances3_thumbnail.jpg", :id => "performances3_thumbnail", :class => "big_thumbnail" %>
		</div>
	</a>

</div>
